<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="/layout/head::head-link"/>
</head>

<body>

  <!-- ======= Header ======= -->
  <th:block th:replace="/layout/header::header-nav"/>

  <!-- ======= Sidebar ======= -->
  <th:block th:replace="/layout/left_sidebar::left-side"/>


  <main id="main" class="main">

        <!-- Place page content here  -->

  </main>
  <!-- Put main content here -->


  <!-- ======= Footer ======= -->
  <th:block th:replace="/layout/footer::footer"/>

  <!-- Vendor JS Files -->
<th:block th:replace="/layout/script:: script"/>

</body>

</html>