/*table td, table th{*/
/*    border-radius: 5px;*/
/*}*/
/*table tr td:nth-child(odd){*/
/*    color:white;*/
/*    background-color: var(--bs-secondary);*/
/*}*/
/*table tr th:nth-child(odd){*/
/*    color: white;*/
/*    background-color: var(--bs-dark);*/
/*}*/
/*table tr td:nth-child(even){*/
/*        background-color: var(--bs-light);*/
/*}*/
/*table tr th:nth-child(even){*/
/*    background-color: var(--bs-light);*/
/*}*/
#info-table td{
    font-weight: 600;
}
#info-table thead tr:first-child{
    color: white;
    background-color: var(--bs-dark);
}